.editorconfig
.eslintignore
.eslintrc.js
.github/
.idea/
.prettierignore
.prettierrc.json
.vscode/
azure-pipelines.yml
coverage/
factory/
index.ts
node_modules/
src/
test/
ts-json-schema-generator.ts
tsconfig.json
