.editorconfig
.idea/
.travis.yml
.vscode/
coverage/
factory/
index.ts
node_modules/
src/
test/
ts-json-schema-generator.ts
tsconfig.json
azure-pipelines.yml
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.json
